* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.landing-page {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
}

.landing-page.dark {
  background-color: #2c2c2c;
  color: #f4f4f4;
}

.navbar {
  background-color: #69aff1;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  color: white;
}

.brand {
  font-size: 1.8em;
  margin: 0;
}

.toggle-button {
  padding: 8px 16px;
  font-size: 1em;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.header {
  margin: 20px 0;
}

h1 {
  font-size: 2.5em;
  margin: 0;
}

p {
  font-size: 1.2em;
  margin: 10px 0;
}

.bot-button {
  padding: 12px 25px;
  font-size: 1.2em;
  color: white;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bot-button:hover {
  background-color: #45a049;
}

.features, .about {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

h2 {
  color: #333;
}

p {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 1em;
  color: #666;
  margin: 10px 0;
}

.footer {
  margin-top: auto;
  padding: 20px 0;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.footer.dark {
  background-color: #2c2c2c;
  color: #f4f4f4;
}
